[Unit]
Description=Agent Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/agent/
ExecStart=/opt/agent/agent.sh

[Install]
WantedBy=multi-user.target